# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# Build & packaging
build/
dist/
*.exe
bridge_plugin/bin/
*.class

# App runtime data & cache
data/
cache/
*.log

# Environments
.env
.venv
env/
venv/
